<div class='contain'>
  <h3>Thank you!</h3>
  <p id="instructions"> Your donation of <strong>£<%= @amount.to_i/100 %></strong> has been processed. Thank you for supporting our effort to create a more diverse tech community.
  </p>
  <p>
  If you would like an invoice for your donation send an email to london@codebar.io
  </p>
</div>
